DS_Store

app/config/config.php
app/config/database.php
.editorconfig

assets/css/default.min.css
assets/files/*
!assets/files/index.html

cache/*
!cache/index.html

logs/*
!logs/index.html

sessions/*
!sessions/index.html

!app/*/.htaccess

composer.lock

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
